.Students{
    width: 100%;
}
.Group__main{
    padding: 10px;
}
.header__wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header button{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border:2px solid white;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.header button:hover{
    background-color: black;
    color: white;
}
.Table__number{
    width: 50px;
    border-left: 3px solid black;
}
.Group__table{
    width: 100%;
}
.Group__table table{
    width: 100%;
}
.Group__table table tbody h3{
    text-align: center;
    
}
.Table__setting{
    margin: 0 auto;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Group__table table thead{
    background-color: black;
    /* border-radius: 10px; */
}
.Group__table table thead h3{
    color: white;
    padding: 20px;
}
.Group__table table tbody td{
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}
.Table__setting button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.Table__setting button svg{
    color: black;
    font-size: 30px;
    transition: 0.5s;
}
.Table__setting button svg:hover{
    color: red;
}
.modal{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.697);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-160%);
	transition: all 1.2s ease;
    z-index: 11;
}
.modal__active{
    transform: translateY(0);
}
.modal__content{
    width: 80%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    overflow-y: scroll;
}
.modal__con{
    height: 600px;
    padding: 20px 0px;
}
.modal__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal__content button{
    margin-bottom: 20px;
}
.inp{
    width: 200px !important;
}
.inp input{
    width: 200px !important;
}

.modal__header button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
form{
    margin-top: 20px;
}
form label{
    width: 100%;
}
form label input{
    width: 100%;
    padding: 8px 10px;
    border-radius: 10px;

}
form button{
    width: 100%;
    padding: 10px 20px;
    background-color: black;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 20px;
}
form button:hover{
    background-color: transparent;
    color: black;
}
.Stpr{
    color: black;
    font-size: 30px;
}
.Stpr:hover{
    color: rgb(83, 83, 83);
}
.header__form{
    margin-top: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
} 
.header__form button{
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    width: auto;
    font-size: 22px;
}
@media(max-width:650px){
    .Group__table{
    overflow-x: scroll;
    }
    .Group__table table{
        width: 650px;
    }
    .modal__content{
        width: 90% !important;
    }
}